.load-token {
    text-align: center;
    padding: 120px;

    .mat-spinner {
        margin: 0 auto;
    }

    h1 {
        margin-top: 60px;
        font-weight: 300;
    }

    p {
        padding-top: 30px;
        color: #e44f4e;
        font-weight: 300;
    }
}