/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.panel-error {
    margin-top: 50px;
    text-align: center;

    h1 {
        color: #bababa;
        margin: 10px 0;        
    }

    p {
        color: #e44f4e;
    }
}